:root {
  --sd-primary-color: #202520;
}

section {
  background-color: #eaeeea;
  color: var(--sd-primary-color);
}

footer:not(#numslide) {
  display: none;
}

#numslide {
  color: var(--sd-primary-color);
}

h1 {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #153515 0%,
    #127212 29%,
    #15d515 67%,
    #151515 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

h2 {
  color: #152515;
}

section.no-bullets ul,
section.no-bullets ol {
  list-style: none;
  padding-left: 0;
}

section.compact li {
  line-height: 1.3;
  margin-bottom: 0.1em;
}

section.compact p {
  line-height: 1.3;
  margin-bottom: 0.2em;
}

section th,
section td {
  /* padding: 0.5em 0.2em; */
}

section th:last-child {
  text-align: end;
}

section th:empty {
  background: #202520;
  max-width: 2px !important;
}
section td:empty {
  background: #202520;
}

section th:first-child {
  text-align: start;
}

section td:last-child {
  text-align: end;
}

section p {
  line-height: 1.8;
}

section li {
  line-height: 1.5;
  /* margin-bottom: 0.4em; */
}

section pre {
  font-size: 1.5rem;
  white-space: pre-wrap;
  word-break: break-word;
}

section :not(pre) > code {
  background: rgba(120, 224, 143, 0.18);
  border: 1px solid rgba(120, 224, 143, 0.35);
  border-radius: 4px;
  padding: 0.05em 0.05em;
}

section pre .hljs {
  background: #fff;
}

.split {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.05em;
  padding-right: 0.05em;
}
