:root {
  --sd-primary-color: #202520;
  --sd-heading-color: #202520;
}

footer:not(#numslide) {
  display: none;
}

#numslide {
  color: var(--sd-primary-color);
}

.no-bullets ul,
.no-bullets ol {
  list-style: none;
  padding-left: 0;
}

.compact li {
  line-height: 1.3;
  margin-bottom: 0.1em;
}

.compact p {
  line-height: 1.3;
  margin-bottom: 0.2em;
}

th:last-child {
  text-align: end;
}

th:empty {
  background: #202520;
  max-width: 2px !important;
}
td:empty {
  background: #202520;
}

th:first-child {
  text-align: start;
}

td:last-child {
  text-align: end;
}

p {
  line-height: 1.8;
}

li {
  line-height: 1.5;
  /* margin-bottom: 0.4em; */
}

pre {
  font-size: 1.5rem;
  white-space: pre-wrap;
  word-break: break-word;
}

.language-mermaid > svg {
  max-width: 95% !important;
  max-height: 95% !important;
  width: inherit !important;
}

:not(pre) > code {
  background: rgba(120, 224, 143, 0.18);
  border: 1px solid rgba(120, 224, 143, 0.35);
  border-radius: 4px;
  padding: 0.05em 0.05em;
}

pre .hljs {
  background: #fff;
}

.split {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.05em;
  padding-right: 0.05em;
}
